/* Whole document: */
body{
  font-family: Open Sans;
  font-size: 12pt;
}

sankeyNetwork.html-widget{
  font-weight: bold;
}

/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 24pt;
}

/* Tables */

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

  .storyboard-nav .sbframelist {
    margin: 0 auto;
    width: 95%;
    height: 200px;
    overflow: hidden;
    text-shadow: none;
    margin-bottom: 8px;
  }

  .storyboard-nav .sbnext, .storyboard-nav .sbprev {
    float: left;
    width: 2%;
    height: 200px;
    font-size: 55px;
   }

  .storyboard-nav .sbframelist ul li {
    float: left;
    width: 350px;
    height: 100%;
    padding: 10px 10px 10px 10px;
    margin-right: 8px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    color: #3a3c47;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
  }


